.cabecalho {
    overflow: hidden; /* Clearfix para conter floats */
    text-align: center;
}

header img{
    width: 50%;
}
.cabecalho__logo {
    width: 30%; /* Cada div ocupa 50% da largura do container */
    float: left; /* Faz as divs flutuarem lado a lado */
    padding: 20px; /* Exemplo de padding para espaçamento interno */
    box-sizing: border-box; /* Garante que padding e bordas não aumentem o tamanho */

}

.cabecalho__texto{
    width: 70%; /* Cada div ocupa 50% da largura do container */
    float: left; /* Faz as divs flutuarem lado a lado */
    box-sizing: border-box; /* Garante que padding e bordas não aumentem o tamanho */
    padding: 20px; /* Exemplo de padding para espaçamento interno */
    border: 1px solid #ccc; /* Exemplo de borda para visualização */
    text-align: center;
}